<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div class="container p-4">
        <div id="con">

        </div>
    </div>

    <button type="button" id="rendering" class="btn btn-primary">Text</button>
</body>

<script>

    let json_data = '{{ json_data | safe }}';
    json_data = JSON.parse(json_data);
    console.log(json_data);


    // let URLL = ``;
 


    // function aaa(URLL) {
    //     $.ajax({
    //         url: URLL,
    //         type: "GET",
    //         success: (response)=>{
    //             $("#con").html(response)
    //         }
    //     })   
    // }



</script>

</html>